* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  line-height: 1.2;
  font-family: 'Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho',sans-serif;
}

a:hover {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrap {
  overflow: hidden;
}

.header-wrap {
  background-image: url(../img/bg6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-wrap {
    height: 50vh;
  }
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
}

.header-logo {
  height: 60px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    height: 40px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  text-align: center;
  font-size: 48px;
}

@media screen and (max-width: 767px) {
  .header-main_text {
    font-size: 18px;
  }
}

.header-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-icon {
    display: block;
    font-size: 28px;
  }
}

.news {
  padding: 90px 0;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .news {
    padding: 50px 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.news-title {
  font-size: 38px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .news-title {
    font-size: 24px;
    margin-bottom: 0px;
  }
}

.news-list {
  margin: 0 auto;
}

.news-list li {
  padding: 30px 0;
  border-bottom: 1px solid #000;
}

.news-list li a {
  color: #000;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .news-list {
    margin-top: 0;
    max-width: 100%;
  }
}

.news-list__border {
  border: 1px solid #000;
  padding: 5px 8px;
  margin: 0 30px;
  font-size: 11px;
}

@media screen and (max-width: 960px) {
  .news-list__block {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
  }
}

.case {
  padding: 90px 0;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .case {
    padding: 50px 20px;
  }
}

.case-content {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .case-content {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}

.case-title {
  font-size: 38px;
  margin-bottom: 90px;
}

@media screen and (max-width: 767px) {
  .case-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.case-content__title {
  margin-top: 30px;
}

.case-content__text {
  margin-top: 15px;
}

.case-content__btn {
  margin-top: 15px;
}

.case-content__btn img {
  width: 300px;
}

.case-btn {
  margin-top: 80px;
}

.case-btn a {
  border: 1px solid #000;
  padding: 12px 40px;
}

@media screen and (max-width: 767px) {
  .case-btn {
    margin-top: 0px;
  }
}

.case-content__img {
  max-width: 430px;
}

.case-content__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .case-content__img {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .flexbox {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#grayDisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#grayDisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* links */
@media screen and (max-width: 767px) {
  .links {
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.link-img {
  width: calc(100%/3);
}

.link-img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .link-img {
    width: 100%;
  }
}

/* footer */
.footer-logo {
  height: 40px;
}

.footer-content {
  max-width: 1100px;
}

.copyright {
  padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .footer-nav {
    padding-top: 50px;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-nav ul li {
    margin-bottom: 30px;
  }
  .footer-nav__list {
    margin-bottom: 20px;
  }
}

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background-color: #999;
  color: #fff;
  padding: 20px 20px;
}

#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */